<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>

	<div  class="card mb-2"	th:fragment="main">
		<div class="card-header p-0 z-depth-1 plomo_relleno" role="tab"
			id="headingDatosRemitente" data-form="datosFiltros">
			<a data-toggle="collapse" data-parent="#acordionFiltros"
				id="btnFiltrosJG"
				href="#collapseFiltros" aria-expanded="true"
				aria-controls="contenidoFiltros" data-form="datosFiltros">
				<i class="fas fa-filter fa-1x p-3 mr-4 float-left black-text"
				aria-hidden="true" data-form="datosFiltros"></i>
				<h6 class="text-uppercase mb-0 py-3 mt-1 sistcorr_acortion_title"
					data-form="datosFiltros">FILTROS</h6>
			</a>
		</div>
		
		<div id="collapseFiltros" class="collapse show"
			role="tabpanel" aria-labelledby="headingFiltros"
			data-parent="#contenidoFiltros">
			<div class="card-body rgba-petro-strong  z-depth-1" style="padding-bottom: 0px !important;">
				
				<br/>
				<div class="form-row">						
						<div class="col-sm-6">
							<div class="md-form mb-3">
								<label for="cmbDependenciaRemitenteJG" class="active">Dependencia
									Remitente</label>
									 <select class="form-control sistcorrAutocompleRemoto"
									id="cmbDependenciaRemitenteJG" selected="selected"
									data-msgerror="El campo dependencia originadora es obligatorio">
								<option  disabled="disabled"  selected="selected" value="0000">Seleccione</option>
								</select>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="md-form mb-3">
								<input type="text" class="form-control validate" maxlength="20"
									id="txtCorrelativoJG" /> <label for="txtCorrelativoJG" class="active">Nro. Documento</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="md-form mb-3">
								<input type="text" class="form-control validate" id="txtAsuntoJG"  maxlength="254"/>
								<label for="txtAsuntoJG" class="active">Asunto</label>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-4">
							<div class="md-form mb-3">
								<i class="far fa-calendar-alt float-right icon-date" id="btnFechaDesde"></i>
								<input type="text" class="form-control validate"
									id="txtFechaDocumentoDesdeJG" style="margin-top: 15px"/> 
								<label for="txtFechaDocumentoDesdeJG">Fecha del Documento - Desde</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="md-form mb-3">
								<i class="far fa-calendar-alt float-right icon-date" id="btnFechaHasta"></i>
								<input type="text" class="form-control validate"
									id="txtFechaDocumentoHastaJG" style="margin-top: 15px"/>
								 <label	for="txtFechaDocumentoHastaJG">Fecha del Documento - Hasta</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="md-form mb-3">
								<label for="rmt_tipoCorrespondencia" class="active">Estado</label>
								<select class="form-control sistcorrAutocompleRemoto"
									id="cbmEstadoJG"  style="margin-top: 3px;"
									data-msgerror="El campo tipo de correspondencia es obligatorio">
									<option selected="selected" value="0">Seleccione</option>
									<option th:each="estado : ${estados_correspondencia}"
										th:value="${estado}" th:text="${estado}"></option>
								</select>
							</div>
						</div>						
					</div>			
					<div class="form-row">
					<div class="col-sm-4">
							<div class="md-form mb-3">
								<i class="far fa-calendar-alt float-right icon-date" id="btnFechaModificaDesdeJG"></i>
								<input type="text" class="form-control validate" th:value="${fechaDesde}"
									id="txtFechaModificaDesdeJG" style="margin-top: 15px"/> 
									<label for="txtFechaModificaDesdeJG">Fecha Modificaci&oacute;n - Desde</label>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="md-form mb-3">
								<i class="far fa-calendar-alt float-right icon-date" id="btnFechaModificaHastaJG"></i>
								<input type="text" class="form-control validate" th:value="${fechaActual}"
									id="txtFechaModificaHastaJG" style="margin-top: 15px"/> 
									<label for="txtFechaModificaHastaJG">Fecha Modificaci&oacute;n - Hasta</label>
							</div>
						</div>			
						<div class="col-sm-4" align="right">
							<button class="btn btn-petroperu-rojo" type="button" id="btnResetearJG">Limpiar</button>
							<button class="btn btn-petroperu-verde" type="button" id="btnBuscarJG">Buscar</button>
						</div>
					</div>
			</div>
		</div>
	</div>

</body>
</html>