<!-- 9000004412 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>

	<div class="card mb-2" th:fragment="datos_remitente">
		<div class="card-header p-0 z-depth-1 plomo_relleno" role="tab"
			id="headingDatosRemitente" data-form="datosRemitente">
			<a data-toggle="collapse" data-parent="#acordionDatos"
				id="btnDatosRemitente"
				href="#collapseDatosRemitente" aria-expanded="true"
				aria-controls="contenidoDatosRemitente" data-form="datosRemitente">
				<i class="fas fa-building fa-1x p-3 mr-4 float-left black-text"
				aria-hidden="true" data-form="datosRemitente"></i>
				<h6 class="text-uppercase mb-0 py-3 mt-1 sistcorr_acortion_title"
					data-form="datosRemitente">DATOS</h6>
			</a>
		</div>

		<div id="collapseDatosRemitente" class="collapse show"
			role="tabpanel" aria-labelledby="headingDatosRemitente"
			data-parent="#contenidoDatosRemitente">
			<div class="card-body rgba-petro-strong  z-depth-1" style="padding-bottom: 0px !important;">
				 
				 
				<br/>
				<div class="form-row">
						<div class="col-sm-6">
							<div class="md-form mb-3">
								<input type="text" id="rmt_centro" class="form-control sistcorrInput"   /> 
								<label for="rmt_centro" class="active">* Centro de Gesti&oacute;n</label>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="md-form mb-3">
								<input type="text" id="rmt_proceso" class="form-control sistcorrInput"   /> 
								<label for="rmt_proceso" class="active">* N&uacute;mero de proceso</label>
							</div>
						</div>
				</div>	
			 
				<br/>
				<div class="form-row">
					<div class="col-sm-6" >
						<br/>
						<div class="md-form  mb-3" >
							<i class="far fa-calendar-alt float-right icon-date" id="btnRmt_FechaDocumento"></i>
							<input type="text" id="rmt_fechaDocumento" class="form-control " required="required" data-msgerror="El campo fecha de documento es obligatorio" readonly="readonly"/> 
							<label for="rmt_fechaDocumento" class="active" style="margin-top: -0px !important">* Fecha</label>
							
						</div>
					</div>
					<div class="col-sm-6">
						<div class="mb-3">
							<label for="rmt_tipo">* Tipo</label>
							<select class="form-control sistcorrAutocompleRemoto" id="rmt_tipo" required="required" data-msgerror="El campo dependencia es obligatorio">
								 <option  value="0" >[SELECCIONE]</option>
								 <option  value="1" >Documento</option>
								 <option value="2"  >Email / Memo</option> 	 
							</select>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>