<!-- 9000004412 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>

	<div class="tab-pane fade table_traza" id="contenidoTraza" role="tabpanel"
		aria-labelledby="contact-tab-classic-orange" th:fragment="main">
		<div id="cabeceraTraza">
			<div class="form-row">
				<div class="col-sm-12">
					<span class="labelTextArea">Correlativo</span>
					<div class="more textarea"  ></div>
				</div>
			</div>
		</div>
		<div id="bodyEventos">
			<div class="form-row">
				<div class="col-sm-12">
					<br />
					<b> Historial de Eventos </b>
				</div>
			</div>
			<div class="div_eventos">
				<div  class="row" style="padding-top: 10px;">
					<div class="col-sm-12">
						<div class="card card_pendiente" style="padding-left: 0px!important;">
							<div  >
								<table border="0" style="width: 100%; table-layout: fixed;">
									<tbody>
										<tr>
											<td class="text-right" style="vertical-align: top; font-size: 16px; font-weight: 400; width: 120px; padding-right: 5px;">Fecha: </td>
											<td class="text-left" style="font-size: 16px; font-weight: 400;"> <span >FECHA</span> </td>
										</tr>
										<tr>
											<td class="text-right" style="vertical-align: top; font-size: 16px; font-weight: 400; width: 120px; padding-right: 5px;">C&oacute;digo Usuario: </td>
											<td class="text-left" style="font-size: 16px; font-weight: 400;"> <span  ></span></td>
										</tr>
										<tr>
											<td class="text-right" style="vertical-align: top; font-size: 16px; font-weight: 400; width: 120px; padding-right: 5px;">Nombre: </td>
											<td class="text-left" style="font-size: 16px; font-weight: 400;"> <span ></span> </td>
										</tr>
										<tr>
											<td class="text-right" style="vertical-align: top; font-size: 16px; font-weight: 400; width: 120px; padding-right: 5px;">Tipo Evento: </td>
											<td class="text-left" style="font-size: 16px; font-weight: 400;"> <span  >TIPO EVENTO</span> </td>
										</tr>
										<tr>
											<td class="text-right" style="vertical-align: top; font-size: 16px; font-weight: 400; width: 120px; padding-right: 5px;">Descripci&oacute;n: </td>
											<td class="text-left" style="font-size: 16px; font-weight: 400;"> 
												<div  ><span class="descripcion_traza"  >DESCRIPCION</span> <br /></div>
												<!--
												<div class="visible"  ><span class="descripcion_traza"  >DESCRIPCION</span><span class="masTexto"> ... m&aacute;s</span> <br /></div>
												<div class="no_visible" ><span class="descripcion_traza"  >DESCRIPCION</span><span class="menosTexto"> menos</span></div>
												-->
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div   class="row" style="padding-top: 10px;">
					<div class="col-sm-12">
						<div class="card card_pendiente">
							<div class="card-body">
								<p>
									No tiene eventos
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>