<!-- 9000004412 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>

	<div class="tab-pane fade" id="contenidoTracking" role="tabpanel"
		aria-labelledby="contact-tab-classic-orange" th:fragment="main">
		<div id="cabeceraTracking">
			<div class="form-row">
				<div class="col-sm-12">
					<span class="labelTextArea">Correlativo</span>
					<div class="more textarea" ></div>
				</div>
			</div>
		</div>
		<div id="bodyTracking">
			<div class="form-row">
				<div class="col-sm-12">
					<br />
					<b> Tracking </b>
				</div>
			</div>
			<div class="div_tracking">
				<div class="row" style="padding-top: 10px;">
					<div class="col-sm-12">
						<div class="card card_pendiente" style="padding-left: 0px!important;">
							<div >
								<table border="0" style="width: 100%; table-layout: fixed;">
									<tbody>
										<tr>
											<td class="text-right" style="vertical-align: top; font-size: 16px; font-weight: 400; width: 80px; padding-right: 5px;">Fecha: </td>
											<td class="text-left" style="font-size: 16px; font-weight: 400;"> <span >FECHA</span> </td>
										</tr>
										<tr>
											<td class="text-right" style="vertical-align: top; font-size: 16px; font-weight: 400; width: 80px; padding-right: 5px;">Usuario: </td>
											<td class="text-left" style="font-size: 16px; font-weight: 400;"> <span  ></span> </td>
										</tr>
										<tr>
											<td class="text-right" style="vertical-align: top; font-size: 16px; font-weight: 400; width: 80px; padding-right: 5px;">Ingreso: </td>
											<td class="text-left" style="font-size: 16px; font-weight: 400;"> <span  >TIPO EVENTO</span> </td>
										</tr>
										<tr>
											<td class="text-right" style="vertical-align: top; font-size: 16px; font-weight: 400; width: 80px; padding-right: 5px;">Egreso: </td>
											<td class="text-left" style="font-size: 16px; font-weight: 400;"> <span >DESCRIPCION</span> </td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div   class="row" style="padding-top: 10px;">
					<div class="col-sm-12">
						<div class="card promoting_card">
							<div class="card-body">
								<p>
									No tiene tracking.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>