<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/plantilla_compartir_correspondencia">
<head>
</head>
<body>
	<div layout:fragment="content" class="container-fluid" id="principal">
		<div class="card">
			<div class="card-header">
				<div class="md-form">
					<i class="fas fa-id-card"></i> Datos de la Notificaci&oacute;n
				</div>
			</div>
			<div class="card-body">
				<div class="row md-form">
					<input type="hidden" id="correlativo" th:value="${correlativo}" />
					<input type="hidden" id="modoCompartir" th:value="${modoTexto}" />
					<input type="hidden" id="idCorrespondencia" th:value="${idCorrespondencia}" />
					<input type="hidden" id="ids" th:value="${ids}" />
					<div class="col-md-12" style="margin-left: 10px!important;">
						<label for="sistCorrSelect" class="active">Enviar a:</label>
						<input type="text" class="form-control validate" id="destinatarioCompartir" style="margin-bottom: 1rem;" />
					</div>
				</div>
				<div class="row md-form">
					<input type="hidden" id="correlativo" th:value="${correlativo}" />
					<div class="col-md-12" style="margin-left: 10px!important;">
						<label for="sistCorrSelect" class="active">Copiar a:</label>
						<input type="text" class="form-control validate" id="copiaCompartir" style="margin-bottom: 1rem;" />
					</div>
				</div>
				<div class="row md-form">
					<input type="hidden" id="correlativo" th:value="${correlativo}" />
					<div class="col-md-12" style="margin-left: 10px!important;">
						<label for="sistCorrSelect" class="active">Asunto:</label>
						<input type="text" class="form-control validate" id="asuntoCompartir" style="margin-bottom: 1rem;" />
					</div>
				</div>
				<div class="row md-form">
					<input type="hidden" id="correlativo" th:value="${correlativo}" />
					<div class="col-md-12" style="margin-left: 10px!important;">
						<label for="sistCorrSelect" class="active">Contenido:</label>
						<textarea id="contenidoCompartir" class="md-textarea form-control validate" style="margin-bottom: 1rem;" rows="3"></textarea>
					</div>
				</div>
				<br/>
				<div class="row md-form" id="modoDireccion" th:if="${modo == 'DIR'}">
					<div class="col-12">
						Link de Acceso: <br/>
						URL: <span th:text="${urlCompartir}"></span>
						<ul class="list-group" id="listaDocumentos">
							<li th:each="arc : ${archivos}" class="list-group-item">
								<div class="row">
									<table width="100%" border="0" style="table-layout:fixed;">
										<tr>
											<td>
												Nombre: <span th:text="${arc.nombre}"></span>
											</td>
											<td>
												Clave: <span th:id="${'key_' + arc.id}"></span>
											</td>
											<td>
												Correlativo: <span th:text="${arc.correspondencia.correlativo.codigo}"></span>
											</td>
										</tr>
									</table>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row md-form" id="modoAdjunto" th:if="${modo == 'ADJ'}">
					<div class="col-12">
						Archivos Adjuntos: <br/>
						<ul class="list-group" id="listaDocumentos">
							<li th:each="arc : ${archivos}" class="list-group-item">
								<div class="row">
									<table width="100%" border="0" style="table-layout:fixed;">
										<tr>
											<td style="padding: 0.15rem 0.95rem;font-weight: 400;font-size: 1rem;">
												<i th:if="${arc.contentType.contains('pdf')}" class="fas fa-file-pdf icon_pdf mr-3"></i>
												<i th:if="${arc.contentType.contains('spreadshee')}" class="fas fa-file-excel icon_excel mr-3"></i>
												<i th:if="${arc.contentType.contains('word')}" class="fas fa-file-word icon_word mr-3"></i>	
												<i th:if="${arc.contentType.contains('png')}" class="fas fa-file-image icon_image mr-3"></i>	
												<i th:if="${arc.contentType.contains('jpg')}" class="fas fa-file-image icon_image mr-3"></i>
												<i th:if="${!arc.contentType.contains('pdf') and !arc.contentType.contains('spreadshee') and !arc.contentType.contains('word') and !arc.contentType.contains('png') and !arc.contentType.contains('jpg')}" class="fas fa-file icon_otro mr-3"></i>
												<i class="fas ${icono_documento this} mr-3 btnDescargarArchivo"></i>
												<span th:text="${arc.nombre}"></span>
											</td>
										</tr>
									</table>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card-footer text-muted text-right">
				<button class="btn-petroperu-icon-footer" id="btnCompartirFooter" data-toggle="tooltip" type="button" title="Compartir Documento"><i class="fas fa-paper-plane"></i></button>
			</div>
		</div>
		<br />
		
		<script th:inline="javascript">
		/*<![CDATA[*/
		    var CORRESPONDENCIA = [[${tarea}]];
		    var ARCHIVOS = [[${respuestaArchivos}]];
		    var ERRORES =  /*[[${errores}]]*/ '';
		/*]]>*/
		console.log("correspondencia:" + CORRESPONDENCIA);
		</script>
		
	</div>
	
	<div layout:fragment="modals">	
		<div class="modal fade" id="modalCompartirCorrespondencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header text-center">
		        <h4 class="modal-title w-100 font-weight-bold">Compartir correspondencia</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body mx-3">
		         <p align="justify" class="texto_modal">&iquest;Est&aacute; seguro de compartir la correspondencia? </p>
		      </div>
		      <div class="modal-footer d-flex justify-content-center">
		      	<button class="btn btn-default" type="button" id="btnCompartirSi">Si</button>
		        <button class="btn btn-danger" type="button"  data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="modalCancelarCompartir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header text-center">
		        <h4 class="modal-title w-100 font-weight-bold">Cancelar Compartir</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body mx-3">
		         <p align="justify" class="texto_modal">&iquest;Est&aacute; seguro de cancelar la compartici&oacute;n de la correspondencia? </p>
		      </div>
		      <div class="modal-footer d-flex justify-content-center">
		      	<button class="btn btn-default" type="button" id="btnCancelarCompartirSi">Si</button>
		        <button class="btn btn-danger" type="button"  data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
	<div layout:fragment="modulo_js">
		<script type="text/javascript" th:src="@{/js/compartir_correspondencia/modulo.js?time=1111}" src="static/js/copia_correspondencia/modulo.js"></script>
    	<script type="text/javascript" th:src="@{/js/compartir_correspondencia/vista.js?time=1111}" src="static/js/copia_correspondencia/vista.js"></script>
	</div>
</body>
</html>