<!-- 9000004412 -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/plantilla_consulta_remision">
<head>

</head>
<body>
	<div layout:fragment="content" class="container-fluid" id="principal"> 
		
		<div class="row" id="filtrosBusqueda">
			<div class="col-sm-12">
				<div class="rgba-petro-strong py-1" id="contenidoAccordionDatos">
					<div class="row d-flex justify-content-center">
						<div class="col-md-12 col-xl-12">
							<div class="accordion md-accordion accordion-5" id="acordionFiltros" role="tablist" aria-multiselectable="false">
								<div th:replace="fragments/consulta_remision/tab_filtros :: main"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<table id="tablaCorrespondenciasGeneral" class="table table-striped table-bordered dt-responsive nowrap"
							cellspacing="0" style="width: 100%; ">
								<thead>
									<tr>
										<th>Ver</th>
										<th>Correlativo PG</th> 
										<th>Fecha y Hora Panilla</th> 
										<th>Código CGC</th>
										<th>Usuario Generador</th>
										<th>Courier</th>
										<th>Cantidad</th>  
									</tr>
								</thead>
								<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>
		<br/>
		
		<script th:inline="javascript">
		/*<![CDATA[*/
		    var DEPENDENCIAS_USUARIO = /*[[${dependenciasUsuario}]]*/ '';
		    var ES_JEFE = /*[[${esJefe}]]*/ '';
		/*]]>*/
		</script>
		
	</div>
	
	<div layout:fragment="modals">
		
	</div>
	
	<div layout:fragment="modulo_js">
		<script type="text/javascript" th:src="@{/js/consulta_remision/modulo.js?time=1113}" src="static/js/consulta_remision/modulo.js"></script>
    	<script type="text/javascript" th:src="@{/js/consulta_remision/vista.js?time=11131}" src="static/js/consulta_remision/vista.js"></script>
	</div>
</body>
</html>