<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/plantilla_error">
<head>
</head>
<body>
	<div layout:fragment="content" class="container-fluid" id="principal">
		<div class="flex-center flex-column">
			<h5 class="animated fadeIn mb-3" th:text="${msjPrincipal}">Algo sali&oacute; mal ! Por favor, int&eacute;ntelo de nuevo m&aacute;s tarde</h5>
		</div>
		
	</div>
	
	<div layout:fragment="modals">
	
	</div>
	
	<div layout:fragment="modulo_js">
		<script type="text/javascript" th:src="@{/js/403/modulo.js}" src="static/js/403/modulo.js"></script>
    	<script type="text/javascript" th:src="@{/js/403/vista.js}" src="static/js/403/vista.js"></script>
	</div>
</body>
</html>