<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <title th:text="${titulo}">SISTCORR</title>
    
    <link rel="icon" th:href="@{/images/favicon.ico}"/>
    
    <meta http-equiv="refresh" content="0; url=login"/>
</head>
<body>
	<h5>Iniciando . . .</h5>
</body>
</html>