<!-- TIcket 9000004412 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/plantilla_valijas">
<head>
</head>
<body>
	<div layout:fragment="content" class="container-fluid" id="principal">
		<input type="hidden" id="url" th:value="${url}"/>
		<div class="row" id="filtrosBusqueda">
			<div class="col-sm-12">
				<div class="rgba-petro-strong py-1" id="contenidoAccordionDatos">
					<div class="row d-flex justify-content-center">
						<div class="col-md-12 col-xl-12">
							<div class="accordion md-accordion accordion-5" id="acordionFiltros" role="tablist" aria-multiselectable="false">
								<div th:replace="fragments/valijas/tab_registro :: main"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br/>
	</div>	
	
	<div layout:fragment="modulo_js">
		<script type="text/javascript" th:src="@{/js/valijas/modulo.js?time=1112}" src="static/js/valijas/modulo.js"></script>
    	<script type="text/javascript" th:src="@{/js/valijas/vista.js?time=1112}" src="static/js/valijas/vista.js"></script>
	</div>
</body>
</html>