.header_tab{
	padding: 0px !important;
	cursor: pointer !important;
}



.tabs-petro{
	margin-top:15px;
    background: #15B78E;
    color: white !important;
    border-radius: .3rem .3rem 0 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 10px;
    padding-top: 10px;
    opacity: 0.98;
}

.petro-tabs .nav li:hover{
    background: #5f5f5f;
    opacity: 0.50;
}

.petro-tabs .nav li a:hover{
    color:whitesmoke;
}

.petro-tabs .nav li a:active{
    background: #5f5f5f;
}

.petro-tabs-activo{
	background: #5f5f5f;
}


.petro-tabs .nav li a {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: bold;
}

.tab-content{
    padding: 1rem;
    padding-top: 2rem;
}

.rgba-petro-strong{
    background: #ffffff !important;
}

.plomo_relleno{
    background: #f7f7f7 !important;
    color: black !important;
}

h6{
    font-size: 13px;
}

.col_firmante{
	padding-bottom: 10px;
}
.card_firmante{
	padding-left: 20px !important;
}

.card_red{
	background: red !important;
}

.card_green{
	background: green !important;
}

.card_yellow{
	background: yellow !important;
}

.card_ROJO{
	background: red !important;
}

.card_VERDE{
	background: green !important;
}

.card_AMARILLO{
	background: yellow !important;
}

.card_body_firmante {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

#listaDestinatarios a, #listaCopias a, #listaArchivos a{
	cursor: default;
}

.card-body {
    background: white;
}

.btnDescargarArchivo{
	cursor: pointer;
	right: 150px;
}

.icon_otro{
	color: grey;
	font-size: 25px;
}

.icon_pdf {
	color: red;
	font-size: 25px;
}

.icon_excel {
	color: green;
	font-size: 25px;
}

.icon_word {
	color: blue;
	font-size: 25px;
}

.icon_ppt {
	color: red;
	font-size: 25px;
}

.icon_otro{
	color: grey;
	font-size: 25px;
}

.icon_image{
	color: purple;
	font-size: 25px;
}

.icon_note{
	color: yellow;
	font-size: 25px;
}

.labelTextArea {
    font-size: .8rem;
    font-weight: 300;
    cursor: text;
    color: #757575;
}

.textarea {
    border-bottom: 1px solid #ced4da;
    color: #495057;
    font-size: 1rem;
    font-weight: 400;
}

.md-form {
	margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.icon-archivo-firma{
	width: 30px !important;
    margin: 0px !important;
    top: 18px;
    right: 30px;
    position: absolute;
}

.td-icon-archivo-firma{
	vertical-align: top;
	padding-top: 12px;
}

.td-icon-archivo-tamanio{
	vertical-align: top;
	padding-top: 10px;
	font-weight: 400;
}

.td-check-compartir{
	vertical-align: top;
	padding-top: 7px;
}

.check-compartir{
	width: 15px;
}

.check-compartir-all{
	width: 15px;
}

.icon-archivo-eliminar{
	width: 30px !important;
    margin: 0px !important;
    top: 18px;
    right: 30px;
    position: absolute;
}

.parrafo_flujo{
	margin-top: 0;
	margin-bottom: 0px;
}

.icon-share-file {
    color: #0B1B79;
    font-size: 20px;
}

.icon-share-file:hover {
    color: #0B1B79;
    font-size: 20px;
}

.icon-share-history {
    color: #27D2D2;
    font-size: 20px;
}

.icon-share-history:hover {
    color: #27D2D2;
    font-size: 20px;
}

.abrirHistorialAsignacion {
	color: #0000FF!important;
}

.card_pendiente{
	padding-left: 20px !important;
}

.card_body_pendiente {
	padding-top: 1px !important;
    padding-bottom: 1px !important;
}

.firma-documento-detalle {
	margin-top: 20px;
	margin-left: 25px;
	margin-bottom: -10px;
}

.icon_emitir_firma{
	color: #4285f4;
	cursor: pointer;
}

.icon_opcion{
	font-size: 24px;
}

.icon_opcion:hover{
	color: black;
    font-size: 25px;
}