<!-- 9000004412 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>

	<div id="contenidoDatos"  class="tab-pane fade active show"  role="tabpanel" aria-labelledby="profile-tab-classic-orange" th:fragment="main">
		<div class="rgba-petro-strong py-1" id="contenidoAccordionDatos">
			<div class="row d-flex justify-content-center">
				<div class="col-md-12 col-xl-12">
					<div class="accordion md-accordion accordion-5" id="acordionDatos" role="tablist" aria-multiselectable="false">
					 
						<div th:replace="fragments/consulta_valijas_recibidas_detalle/tab_datos/datos_correspondencia :: datos_correspondencia"></div>
					
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>