<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- inicio ticket 9000004403 comentado -->
	<!-- <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light navbar-petroperu scrolling-navbar">
            <div class="container-fluid">

                <button class="btn-petroperu-icon" type="button" id="btnRetroceder" data-toggle="tooltip" title="Regresar a la bandeja">
                    <i class="fas fa-arrow-left"></i>
                </button>

                <a class="navbar-brand waves-effect" href="" id="textAsunto">
                    <strong class="white-text" th:text="${titulo}">TITULO</strong>
                </a>

                <div class="navbar-nav">
                    <ul class="navbar-nav nav-flex-icons">
                    	<li class="nav-item">
                    		<button th:if="${tarea.confidencial!=null and tarea.confidencial!='SI'}" class="btn-petroperu-icon" type="button" data-toggle="tooltip" title="Enviar Copia" id="btnEnviarCopia"><i class="fa fa-envelope-open"></i></button>
                    	</li>
                        <li class="nav-item">
                            <button th:if="${esJefe and !bandeja.equals('consulta-correspondencia') and !bandeja.equals('consulta-asignaciones') and !bandeja.equals('delgestor')}" class="btn-petroperu-icon" type="button" data-toggle="tooltip" title="Asignar" id="btnAsignarCorrespondencia"><i class="fas fa-user-plus"></i></button>
                        </li>
                        <li class="nav-item" th:if="${!bandeja.equals('delgestor')}">
                            <button class="btn-petroperu-icon" type="button" th:if="${!tarea.nuevaCorrespondencia and tarea.esAsignado!=null and !tarea.esAsignado.equals('') and tarea.esAsignado.equals('SI') and !bandeja.equals('consulta-correspondencia') and !bandeja.equals('consulta-asignaciones')}" data-toggle="tooltip" title="Completar" id="btnAbrirCompletarCorrespondencia"><i class="fas fa-check-square"></i></button>
                            <button class="btn-petroperu-icon" type="button" th:if="${tarea.nuevaCorrespondencia and esJefe and !bandeja.equals('consulta-correspondencia') and !bandeja.equals('consulta-asignaciones')}" data-toggle="tooltip" title="Terminar proceso" id="btnAbrirCerrarCorrespondencia"><i class="fas fa-lock"></i></button>TICKET 9000004271 Cerrar Por Termina proceso
                            <button class="btn-petroperu-icon" type="button" th:if="${!tarea.nuevaCorrespondencia and tarea.esAsignado!=null and !tarea.esAsignado.equals('') and tarea.esAsignado.equals('SI') and !bandeja.equals('consulta-correspondencia') and !bandeja.equals('consulta-asignaciones') and tarea.sVersionNum >= versionCorrespBandEntrada}" data-toggle="tooltip" title="Rechazar Asignaci&oacute;n" id="btnAbrirRechazarAsigCorresp"><i class="fas fa-window-close"></i></button>
                        </li>
                        <li class="nav-item" th:if="${bandeja.equals('delgestor')}">
                            <button th:if="${esJefe or esGestor}" class="btn-petroperu-icon btnAceptarCorrespondencia" type="button" data-toggle="tooltip" title="Aceptar" id="btnAceptarCorrespondenciaHeader"><i class="fas fa-check-circle"></i></button>
                        </li>
                        <li class="nav-item" th:if="${bandeja.equals('delgestor')}">
                            <button th:if="${esJefe or esGestor}" class="btn-petroperu-icon btnRechazarCorrespondencia" type="button" data-toggle="tooltip" title="Rechazar" id="btnRechazarCorrespondenciaHeader"><i class="fas fa-times-circle"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <input id="csrfToken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input id="csrfHeader" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.headerName}" />
    </header> -->
    <!-- fin ticket 9000004403 comentado -->
    
    <!-- inicio ticket 9000004403 -->
    <header class="m-header-main-ptp m-header--ptp" th:fragment="header">
		<div class="m-box-table m-box-table--middle">
			<div class="m-header__block">
				<button class="btn-petroperu-icon" type="button" id="btnRetroceder" data-toggle="tooltip" title="Regresar a la bandeja">
                    <i class="fas fa-arrow-left"></i>
                </button>
			</div>
			<div class="m-header__logo">
				<img th:src="@{/img/logo_mobile@2x.png?time=20211234}" alt=""/><img
					th:src="@{/img/logo_petroperu@2x.png?time=20211236}" alt=""/>
			</div>
			<h1 class="m-header__title" style="text-align: center;">
				<span th:text="${titulo}">Titulo</span><span></span>
			</h1>
			<div th:if="${tipoCorrespondencia!='consulta-auditoria' and tarea.confidencial!=null and tarea.confidencial!='SI'}" class="m-header__block" style="width: 20px; text-align: right;">
				<button class="btn-petroperu-icon" type="button" data-toggle="tooltip" title="Enviar Copia" id="btnEnviarCopia"><i class="fa fa-envelope-open"></i></button>
			</div>
			<div th:if="${tipoCorrespondencia!='consulta-auditoria' and esJefe and !bandeja.equals('consulta-correspondencia') and !bandeja.equals('consulta-asignaciones') and !bandeja.equals('delgestor')}" class="m-header__block" style="width: 20px; text-align: right;">
				<button class="btn-petroperu-icon" type="button" data-toggle="tooltip" title="Asignar" id="btnAsignarCorrespondencia"><i class="fas fa-user-plus"></i></button>
			</div>
			<div th:if="${tipoCorrespondencia!='consulta-auditoria' and !bandeja.equals('delgestor') and (!tarea.nuevaCorrespondencia and tarea.esAsignado!=null and !tarea.esAsignado.equals('') and tarea.esAsignado.equals('SI') and !bandeja.equals('consulta-correspondencia') and !bandeja.equals('consulta-asignaciones'))}" class="m-header__block" style="width: 20px; text-align: right;">
				<button class="btn-petroperu-icon" type="button" data-toggle="tooltip" title="Completar" id="btnAbrirCompletarCorrespondencia"><i class="fas fa-check-square"></i></button>
			</div>
			<div th:if="${tipoCorrespondencia!='consulta-auditoria' and !bandeja.equals('delgestor') and (tarea.nuevaCorrespondencia and esJefe and !bandeja.equals('consulta-correspondencia') and !bandeja.equals('consulta-asignaciones'))}" class="m-header__block" style="width: 20px; text-align: right;">
				<button class="btn-petroperu-icon" type="button" data-toggle="tooltip" title="Terminar proceso" id="btnAbrirCerrarCorrespondencia"><i class="fas fa-lock"></i></button><!-- TICKET 9000004271 Cerrar Por Termina proceso -->
			</div>
			<div th:if="${tipoCorrespondencia!='consulta-auditoria' and !bandeja.equals('delgestor') and (!tarea.nuevaCorrespondencia and tarea.esAsignado!=null and !tarea.esAsignado.equals('') and tarea.esAsignado.equals('SI') and !bandeja.equals('consulta-correspondencia') and !bandeja.equals('consulta-asignaciones') and tarea.sVersionNum >= versionCorrespBandEntrada)}" class="m-header__block" style="width: 20px; text-align: right;">
				<button class="btn-petroperu-icon" type="button" data-toggle="tooltip" title="Rechazar Asignaci&oacute;n" id="btnAbrirRechazarAsigCorresp"><i class="fas fa-window-close"></i></button>
			</div>
			<div th:if="${tipoCorrespondencia!='consulta-auditoria' and bandeja.equals('delgestor')}" class="m-header__block" style="width: 20px; text-align: right;">
				<button th:if="${esJefe or esGestor}" class="btn-petroperu-icon btnAceptarCorrespondencia" type="button" data-toggle="tooltip" title="Aceptar" id="btnAceptarCorrespondenciaHeader"><i class="fas fa-check-circle"></i></button>
			</div>
			<div th:if="${tipoCorrespondencia!='consulta-auditoria' and bandeja.equals('delgestor')}" class="m-header__block" style="width: 20px; text-align: right;">
				<button th:if="${esJefe or esGestor}" class="btn-petroperu-icon btnRechazarCorrespondencia" type="button" data-toggle="tooltip" title="Rechazar" id="btnRechazarCorrespondenciaHeader"><i class="fas fa-times-circle"></i></button>
			</div>
		</div>
		<input id="csrfToken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input id="csrfHeader" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.headerName}" />
	</header>
	<!-- fin ticket 9000004403 -->
</body>
</html>