<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    
    <header class="m-header-main-ptp m-header--ptp" th:fragment="header">
		<div class="m-box-table m-box-table--middle">
			<div class="m-header__block">
				<button id="btnAbrirMenu" class="btn-petroperu-icon sideMenu"
					type="button">
					<i class="fas fa-align-justify"></i>
				</button>
			</div>
			<div class="m-header__logo">
				<img th:src="@{/img/logo_mobile@2x.png?time=20211234}" alt=""/><img
					th:src="@{/img/logo_petroperu@2x.png?time=20211236}" alt=""/>
			</div>
			<h1 class="m-header__title" style="text-align: center;">
				<span th:text="${titulo}">Titulo</span><span></span>
			</h1>
			<div class="m-header__block" style="width: 20px; text-align: right;">
				<button class="btn-petroperu-icon" data-toggle="tooltip" title="Ir a tutoriales" type="button" id="btnAbrirTutoriales"><i class="fas fa-question-circle"></i></button>
			</div>
			<div class="m-header__block" style="width: 20px; text-align: right;">
				<button class="btn-petroperu-icon" data-toggle="tooltip" title="Exportar a excel" type="button" id="btnExportarExcel"><i class="fas fa-file-download"></i></button>
			</div>
		</div>
		<div th:replace="fragments/menu :: menu_lateral"></div>
	</header>
	
</body>
</html>