<!-- 9000004276 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <header class="m-header-main-ptp m-header--ptp" th:fragment="header">
      <div class="m-box-table m-box-table--middle">
        <div class="m-header__block">
          <button class="btn-petroperu-icon" type="button" id="btnRetroceder" data-toggle="tooltip" title="Regresar a la consulta">
            <i class="fas fa-arrow-left"></i>
          </button>
        </div>
        <div class="m-header__logo">
          <img th:src="@{/img/logo_mobile@2x.png?time=20211234}" alt="" />
          <img th:src="@{/img/logo_petroperu@2x.png?time=20211236}" alt="" />
        </div>
        <h1 class="m-header__title" style="text-align: center;">
          <span th:text="${titulo}">Titulo</span>
          <span></span>
        </h1>
        <div class="m-header__block" style="width: 20px; text-align: right;">
          <button class="btn-petroperu-icon" type="button" data-toggle="tooltip" title="Enviar Copia" id="btnEnviarCopia">
            <i class="fa fa-envelope-open"></i>
          </button>
        </div>
      </div>
      <input id="csrfToken" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input id="csrfHeader" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.headerName}" />
    </header>
  </body>
</html>