<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
	<meta charset="UTF-8" />
	<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<title th:text="${titulo}">SISTCORR</title>
	
	<link rel="icon" th:href="@{/images/favicon.ico}"/>
	
	<link rel="stylesheet" th:href="@{/js/librerias/fontawesone/css/all.css}" href="static/librerias/fontawesone/css/all.css"/>
	<link rel="stylesheet" th:href="@{/js/librerias/mdboostrap/css/popper.css}" href="static/librerias/mdboostrap/css/popper.css" />
    <link rel="stylesheet" th:href="@{/js/librerias/mdboostrap/css/bootstrap.css}" href="static/librerias/mdboostrap/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/js/librerias/mdboostrap/css/mdb.css}" href="static/librerias/mdboostrap/css/mdb.css" />
    <link rel="stylesheet" th:href="@{/js/librerias/toastr/toastr.css}" href="static/librerias/toastr/toastr.css" /> 
    <link rel="stylesheet" th:href="@{/js/librerias/datepicker_ui/jquery-ui.css}" href="static/librerias/datepicker_ui/jquery-ui.css" /> 
    <link rel="stylesheet" th:href="@{/js/librerias/materialize-select2/select2-materialize.css}" href="static/materialize-select2/datepicker/select2-materialize.css"/>
    <link rel="stylesheet" th:href="@{/js/librerias/dataTables/dt/css/dataTables.bootstrap4.css}" href="static/librerias/dataTables/dt/css/dataTables.bootstrap4.css" /> 
    <link rel="stylesheet" th:href="@{/js/librerias/dataTables/responsive/css/responsive.bootstrap4.css}" href="static/librerias/dataTables/responsive/css/responsive.bootstrap4.css" /> 
    <link rel="stylesheet" th:href="@{/css/general.css?time=202101221262}" href="static/css/general.css"/>
    
    <link rel="stylesheet" th:href="@{/css/aplicaciones-header.css?time=202101221261}" href="static/css/aplicaciones-header.css" /><!-- TICKET 9000004403 -->
</head>
</html>