<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>

	<div class="card mb-2" th:fragment="datos_correspondencia">
		<div class="card-header p-0 z-depth-1 plomo_relleno" role="tab"
			id="headingDatosCorrespondencia" data-form="datosCorrespondencia">
			<a data-toggle="collapse" data-parent="#acordionDatos"
				id="btnDatosCorrespondencia"
				href="#collapseDatosCorrespondencia" aria-expanded="true"
				aria-controls="contenidoDatosCorrespondencia"
				data-form="datosCorrespondencia"> <i
				class="fas fa-mail-bulk fa-1x p-3 mr-4 float-left black-text"
				aria-hidden="true" data-form="datosCorrespondencia"></i>
				<h6 class="text-uppercase mb-0 py-3 mt-1 sistcorr_acortion_title"
					data-form="datosCorrespondencia">DATOS CORRESPONDENCIA</h6>
				<input type="hidden" id="proceso" th:value="${tarea.proceso}" />
			</a>
		</div>

		<div id="collapseDatosCorrespondencia" class="collapse"
			role="tabpanel" aria-labelledby="headingDatosCorrespondencia"
			data-parent="#contenidoDatosCorrespondencia">
			<div class="card-body rgba-petro-strong z-depth-1">
				<form action="">
					<div class="md-form">
						<span class="labelTextArea">Correlativo</span>
						<div class="more textarea" th:text="${tarea.correlativo}"></div>
					</div>
					<div class="md-form">
						<span class="labelTextArea">Dependencia Remitente Aprobadora</span>
						<div class="more textarea" th:text="${tarea.remitente}"></div>
					</div>
					<div class="md-form">
						<span class="labelTextArea">Dependencia Destino</span>
						<div class="more textarea" th:text="${tarea.dependenciaDestino}"></div>
					</div>
					<div class="md-form">
						<span class="labelTextArea">Estado de Correspondencia</span>
						<div class="more textarea" th:text="${tarea.estadoCorrespondencia}"></div>
					</div>
					<div class="md-form">
						<span class="labelTextArea">Fecha de Creaci&oacute;n</span>
						<div class="more textarea" th:text="${tarea.fechaCreacion != null ? (#dates.format(tarea.fechaCreacion, formatoFecha) ==  '01/01/1900 00:00' ? '' :  #dates.format(tarea.fechaCreacion, formatoFecha)) : ''}"></div>
					</div>
					<div class="md-form">
						<span class="labelTextArea">N&uacute;mero de Documento</span>
						<div class="more textarea" th:text="${tarea.numeroDocumento}"></div>
					</div>
					<div class="md-form">
						<span class="card-text masFiltros" style="color: #3262BF; cursor: pointer;"><i class="icono_mas_filtros fa fa-plus-square"></i></span>
						<span class="labelTextArea masFiltros verMas" style="color: #3262BF; cursor: pointer;"><b>Ver M&aacute;s</b></span>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Tipo de Transacci&oacute;n</span>
						<div class="more textarea" th:text="${tarea.tipoTransaccion}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Correlativo de Referencia</span>
						<div class="more textarea" th:text="${tarea.correlativoReferencia}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">CGC</span>
						<div class="more textarea" th:text="${tarea.cgc}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Tipo de Correspondencia</span>
						<div class="more textarea" th:text="${tarea.tipoCorrespondencia}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Cantidad de Folios</span>
						<div class="more textarea" th:text="${tarea.numeroFolios}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Lugar Trabajo Remitente</span>
						<div class="more textarea" th:text="${tarea.lugarTrabajoRemitente}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Persona Remitente</span>
						<div class="more textarea" th:text="${tarea.personaRemitente}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Lugar Trabajo Destino</span>
						<div class="more textarea" th:text="${tarea.lugarTrabajoDestino}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Persona Destino</span>
						<div class="more textarea" th:text="${tarea.personaDestino}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Fecha Documento</span>
						<div class="more textarea" th:text="${tarea.fechaDocumento}"></div>
					</div>
					<div class="md-form panel-2">
						<span class="labelTextArea">Asunto</span>
						<div class="more textarea" th:text="${tarea.asunto}"></div>
					</div>
					<div class="md-form panel-2" th:if="${!tarea.nuevaCorrespondencia}">
						<span class="labelTextArea">&Uacute;ltima Observaci&oacute;n Ingresada</span>
						<div class="more textarea" th:text="${tarea.ultimaObservacion}"></div>
					</div>
					<div class="md-form panel-2" th:if="${tarea.nuevaCorrespondencia}">
						<span class="labelTextArea">Confidencial</span>
						<div class="more textarea" th:text="${tarea.confidencial}"></div>
					</div>
					<div class="md-form panel-2" th:if="${tarea.nuevaCorrespondencia}">
						<span class="labelTextArea">Gu&iacute;a</span>
						<div class="more textarea" th:text="${tarea.guia}"></div>
					</div>
					<div class="md-form panel-2" th:if="${tarea.nuevaCorrespondencia}">
						<span class="labelTextArea">Gu&iacute;a Remisi&oacute;n</span>
						<div class="more textarea" th:text="${tarea.guiaRemision}"></div>
					</div>
					<div class="md-form panel-2" th:if="${tarea.nuevaCorrespondencia}">
						<span class="labelTextArea">Registro en Dependencia</span>
						<div class="more textarea" th:text="${tarea.registroEnDependencia}"></div>
					</div>
					<div class="md-form panel-2" th:if="${tarea.nuevaCorrespondencia}">
						<span class="labelTextArea">Urgente</span>
						<div class="more textarea" th:text="${tarea.urgente}"></div>
					</div>
					<div class="md-form panel-2" th:if="${tarea.numeroDocumentoEnlace != null and tarea.numeroDocumentoEnlace != ''}">
						<span class="labelTextArea">Doc. Respuesta</span>
						<div class="more textarea abrirDocumentoEnlace" th:attr="data-id=${tarea.idDocumentoEnlace}" th:text="${tarea.numeroDocumentoEnlace}"></div>
						<input type="hidden" id="idDocumentoEnlace" th:value="${tarea.idDocumentoEnlace}" />
					</div>
				</form>
			</div>
		</div>


	</div>
</body>
</html>