<!-- 9000004412 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body> 
	<div class="tab-pane fade" id="contenidoObservaciones"	role="tabpanel" aria-labelledby="follow-tab-classic-orange"
		th:fragment="main">
		<div id="cabeceraObservaciones">
			<div class="row">
				<button class="btn-floating btn-petroperu-verde" id="btnOpenModalCopias" data-toggle="modal" data-target="#modalCopias" style=" border: none;
    outline:none;">
					<i class="fas fa-building" data-toggle="tooltip" title="Agregar copia"></i>
				</button>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="card" >
						<div class="card-body">
							<div id="listaCopias">
								<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start" >No existen copias</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/x-handlebars-template" id="template-copias">
		{{#each copias}}
		<a href="#!" id="destinatarioCopia_{{identificador}}" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-2 h5">{{dependencia}}</h5>
				<i class="fas fa-trash-alt btnEliminarCopia" data-identificador="{{identificador}}" data-toggle="tooltip" title="Borrar"></i>
			</div>
 			<p class="mb-2">{{lugarTrabajo}}</p>
		</a>
		{{/each}}
		</script>
		
		<div class="modal fade" id="modalCopias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
	
			      <div class="modal-header text-center">
			        <h4 class="modal-title w-100 font-weight-bold">Agregar Anexo</h4>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseCopias">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			     	
			     	<div class="modal-body mx-3"> 
			     		<br/>
			     		<div class="form-row">
							<div class="col-sm-6">
								<div class="md-form mb-3">
									<input type="text" class="form-control validate" maxlength="20"
										id="txtFolios" /> <label for="txtFolios" class="active">Cantidad de Folios</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="md-form mb-3">
									<div class="custom-control custom-switch">
									  <input type="checkbox" class="custom-control-input" id="corr_digitaliza" name="corr_digitaliza"  />
									  <label class="custom-control-label label_switch" for="corr_digitaliza">Digitaliza</label>
									</div>
								</div>
							</div>
						</div> 
			     		<div class="form-row">
							<div class="col-sm-6">
								<div class="md-form mb-3">
									<input type="text" class="form-control validate" maxlength="20"
										id="txtDescripcion" /> <label for="txtDescripcion" class="active">Descripci&oacute;n</label>
								</div>
							</div>
							<div class="col-sm-6">
								 
							</div>
						</div>
						<br/>
			     	 
			      	</div>
			      <div class="modal-footer d-flex justify-content-center">
			      	<button class="btn btn-petroperu-verde" type="button" id="copia_btnAgregar">Guardar</button>
			        <button class="btn btn-petroperu-rojo" type="button"  data-dismiss="modal" id="btnCancarlarAgregarCopia">Cancelar</button>
			      </div>
	
		    </div>
		  </div>
		</div>
		
	</div>

</body>
</html>