<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>

	<div  class="card mb-2"	th:fragment="main">
		<div class="card-header p-0 z-depth-1 plomo_relleno" role="tab"
			id="headingDatosRemitente" data-form="datosFiltros">
			<a data-toggle="collapse" data-parent="#acordionFiltros"
				id="btnFiltros"
				href="#collapseFiltros" aria-expanded="true"
				aria-controls="contenidoFiltros" data-form="datosFiltros">
				<i class="fas fa-filter fa-1x p-3 mr-4 float-left black-text"
				aria-hidden="true" data-form="datosFiltros"></i>
				<h6 class="text-uppercase mb-0 py-3 mt-1 sistcorr_acortion_title"
					data-form="datosFiltros">FILTROS</h6>
			</a>
		</div>
		
		<div id="collapseFiltros" class="collapse show"
			role="tabpanel" aria-labelledby="headingFiltros"
			data-parent="#contenidoFiltros">
			<div class="card-body rgba-petro-strong  z-depth-1" style="padding-bottom: 0px !important;">
				<br/>
				<div class="form-row">
					<div class="col-sm-6">
						<div class="md-form mb-3">
							<input type="text" class="form-control validate" maxlength="20"
								id="txtCorrelativo" /> <label for="txtCorrelativo" class="active">Correlativo</label>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="md-form mb-3">
								<label for="rmt_tipoCorrespondencia" class="active">Estado</label>
								<select class="form-control sistcorrAutocompleRemoto"
									id="cbmEstado"  style="margin-top: 3px;"
									data-msgerror="El campo tipo de correspondencia es obligatorio">
									<option selected="selected" value="0">Seleccione</option>
									<option th:each="estado : ${listaEstados}"
										th:value="${estado.codigoEstado}" th:text="${estado.estado}"></option>
								</select>
							</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-sm-6">
						<div class="md-form mb-3">
								<i class="far fa-calendar-alt float-right icon-date" id="btnFechaDocumentoDesde"></i>
								<input type="text" class="form-control validate"
									id="txtFechaDocumentoDesde" style="margin-top: 15px"/> <label
									for="txtFechaDocumentoDesde">Fecha de Registro - Desde</label>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="md-form mb-3">
								<i class="far fa-calendar-alt float-right icon-date" id="btnFechaDocumentoHasta"></i>
								<input type="text" class="form-control validate"
									id="txtFechaDocumentoHasta" style="margin-top: 15px"/> <label
									for="txtFechaDocumentoHasta">Fecha del Registro - Hasta</label>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="col-sm-6">
						<div class="md-form mb-3">
							<input type="text" class="form-control validate" maxlength="20"
								id="txtNroDocumento" /> <label for="txtNroDocumento" class="active">Nro. Documento</label>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="md-form mb-3">
								<i class="far fa-calendar-alt float-right icon-date" id="btnFecha"></i>
								<input type="text" class="form-control validate"
									id="txtFecha" style="margin-top: 15px"/> <label
									for="txtFecha">Fecha</label>
						</div>
					</div>
				</div>
				<div class="form-row">
						<div class="col-sm-3">
							&nbsp;
						</div>
						<div class="col-sm-4">
							&nbsp;
						</div>
						<div class="col-sm-4">
							&nbsp;
						</div>
						<div class="col-sm-1" align="right">
							<button type="button" class="btn btn-petroperu-verde px-3"
								id="btnMasFiltros" data-toggle="tooltip" title="Aplicar m&aacute;s filtros">
								<i class="fas fa-plus"></i> <i class="fas fa-filter"></i>
							</button>
							<button type="button" class="btn btn-petroperu-verde px-3"
								id="btnMenosFiltros" data-toggle="tooltip" title="Aplicar menos Filtros">
								<i class="fas fa-minus"></i> <i class="fas fa-filter"></i>
							</button>
						</div>
					</div>
					<div class="form-row filtro_secundario">
						<div class="col-sm-6">
							<div class="md-form mb-3">
								<label for="cmbDependenciaRemitente">Dependencia
									Remitente Aprobadora</label> <select class="form-control sistcorrAutocompleRemoto"
									id="cmbDependenciaRemitente"
									data-msgerror="El campo dependencia remitente originadora es obligatorio">
									<option value="0">[TODOS]</option>
			        				<option th:each="dep : ${dependenciasRemitentes}" th:value="${dep.codigo}" th:text="${dep.descripcion}"></option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="md-form mb-3">
								<label for="cmbDependenciaDestinatario">Dependencia
									Destinatario</label> <select
									class="form-control sistcorrAutocompleRemoto"
									id="cmbDependenciaDestinatario" 
									data-msgerror="El campo dependencia originadora es obligatorio">
									<option value="0">[TODOS]</option>
			        			<option th:each="dep : ${dependenciasDestinatarios}" th:value="${dep.codigo}" th:text="${dep.descripcion}"></option>
									</select>
							</div>
						</div>
					</div>
					<div class="form-row filtro_secundario">
						<div class="col-sm-6">
							<div class="md-form mb-3">
								<label for="rmt_tipoCorrespondencia" class="active" style="margin-top: -8px;">Tipo
									de Correspondencia</label> <select
									class="form-control sistcorrAutocompleRemoto"
									id="cbmTipoCorrespondencia"  style="margin-top: 8px;"
									data-msgerror="El campo tipo de correspondencia es obligatorio">
									<option selected="selected" value="0">Seleccione</option>
									<option th:each="tipo : ${tiposCorrespondencia}"
										th:value="${tipo.id}" th:text="${tipo.text}"></option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="md-form mb-3">
								<input type="text" class="form-control validate" maxlength="20"
								id="txtEntidadExterna" /> <label for="txtEntidadExterna" class="active">Entidad Externa</label>
							</div>
						</div>
					</div>
					<div class="form-row filtro_secundario">
						<div class="col-sm-6">
							<div class="md-form mb-3">
								<label for="cmbRol" class="active">Rol</label> 
								<select
									class="form-control sistcorrAutocompleRemoto"
									id="cmbRol" 
									data-msgerror="El campo dependencia originadora es obligatorio">
									<option selected="selected" value="0">Seleccione</option>
									<option th:each="rol : ${roles}"
										th:value="${rol}" th:text="${rol}"></option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="md-form mb-3">
								<input type="text" class="form-control validate" maxlength="20"
								id="txtAsunto" /> <label for="txtAsunto" class="active">Asunto</label>
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-sm-12" align="right">
							<button class="btn btn-petroperu-rojo" type="button" id="btnResetear">Limpiar</button>
							<button class="btn btn-petroperu-verde" type="button" id="btnBuscar">Buscar</button>
						</div>
					</div>
			</div>
		</div>
	</div>

</body>
</html>